{% verbatim %}
    <script type="text/ng-template" id="/album.html">
        <div class="clearfix">
            <form class="instance-form album-form clearfix" name="albumForm" ng-submit="saveAlbum()">
                <fieldset class="cover pull-left">
                    <div class="image">
                        <img ng-src="{{ album.cover.thumbnail_small }}" alt="{{ album.title }}">
                    </div>
                </fieldset>

                <fieldset class="text pull-left">
                    <div class="custom-control-group">
                        <div class="controls">
                            <input type="text" ng-model="album.name" value="{{ album.name }}" placeholder="Album name">
                        </div>
                    </div>
                    <div class="custom-control-group">
                        <div class="controls">
                            <textarea ng-model="album.description" value="{{ album.description }}" placeholder="Album description"></textarea>
                        </div>
                    </div>

                    <div class="controls clearfix">
                        <div class="pull-left">
                            <a href class="remove-album-with-files btn btn-link">Remove album</a>
                        </div>

                        <button type="submit" class="btn btn-link pull-right">Save</button>
                    </div>
                </fieldset>
            </form>

            <form class="drop-files-area" data-fileupload="options">
                <input type="file" name="file" multiple>

                <div class="hint">
                    <div><i class="icon-folder-open"></i>Click to add files</div>
                    <div><i class="icon-move"></i>Or drag and drop new files here</div>
                </div>
            </form>
        </div>

        <ul class="images thumbnails">
            <li ng-repeat="image in queue" class="span2">
                <a class="thumbnail" ng-click="editing = !editing">
                    <img ng-show="image.thumbnail" ng-src="{{ image.thumbnail }}" alt="{{ image.name }}" width="200" height="200">
                    <div ng-hide="image.thumbnail" data-preview="image"></div>
                </a>


                <form class="instance-form file-form clearfix" method="post" ng-show="editing">
                    <fieldset class="text pull-left">
                        <div class="custom-control-group">
                            <div class="controls">
                                <input type="text" value="{{ image.name }}" placeholder="Name">
                            </div>
                        </div>
                        <div class="custom-control-group">
                            <div class="controls">
                                <textarea value="{{ image.description }}" placeholder="Description"></textarea>
                            </div>
                        </div>

                        <div class="controls clearfix">
                            <div class="pull-left">
                                <a href class="remove-file btn btn-link">Remove File</a>
                            </div>

                            <button type="submit" class="btn btn-link pull-right">Save</button>
                        </div>
                    </fieldset>
                </form>
            </li>
        </ul>
    </script>
{% endverbatim %}