{% verbatim %}
    <script type="text/ng-template" id="/album.html">
        <div class="row">
            <form class="instance-form album-form span5 clearfix" name="albumForm" ng-submit="saveAlbum()">
                <fieldset class="cover pull-left">
                    <div class="image">
                        <img ng-show="album.cover" ng-src="{{ album.cover.thumbnail_small }}" alt="{{ album.name }}">
                        <img ng-hide="album.cover" alt>
                    </div>
                </fieldset>

                <fieldset class="text">
                    <div class="controls">
                        <input type="text" ng-model="album.name" placeholder="Album name" required>
                    </div>
                    <div class="controls">
                        <textarea ng-model="album.description" placeholder="Album description"></textarea>
                    </div>

                    <div class="controls clearfix" ng-show="album.id">
                        <a href ng-click="removeAlbum()" class="btn btn-link pull-left">Remove album</a>
                        <button ng-show="albumForm.$dirty" type="submit" class="btn btn-link pull-right">Save</button>
                    </div>
                    <div class="controls clearfix" ng-hide="album.id">
                        <button type="submit" class="btn btn-link pull-right">Create album</button>
                    </div>
                </fieldset>
            </form>

            <form enctype="multipart/form-data" action="/mes_fichiers/rest/files/" method="post"
                  ng-show="album.id" class="drop-files-area span4" data-fileupload="options">
                <input type="file" name="file" multiple>
                <input type="hidden" name="album" value="{{ album.id }}">

                <div class="hint">
                    <div><i class="icon-folder-open"></i>Click to add files</div>
                    <div><i class="icon-move"></i>Or drag and drop new files here</div>
                </div>
            </form>
        </div>

        <ul class="images">
            <li ng-repeat="file in album.files" class="image-item"
                ng-mon-fichier ng-hide="file.$deleted"
                ng-class="editing && 'editing clearfix'">
            </li>
        </ul>
    </script>
{% endverbatim %}