{% verbatim %}
    <script type="text/ng-template" id="/albums.html">
        <ul class="albums row">
            <li class="album span3" ng-repeat="album in albums">
                <div ng-init="editing = false">
                    <a href class="album-thumbnail" ng-href="/mes_fichiers/album/{{ album.id }}">
                        <div class="album-title pull-left" title="{{ album.name }}">{{ album.name }}</div>
                        <div class="pull-right label">{{ album.files_count }}</div>
                        <img ng-src="{{ album.cover.thumbnail_medium }}">
                    </a>
                </div>
            </li>
        </ul>
    </script>
{% endverbatim %}