{% verbatim %}
    <script type="text/ng-template" id="/file.html">
        <a href class="image pull-left" ng-click="file.id && (editing = !editing)" title="Toggle edit form">
            <img ng-show="file.thumbnail" ng-src="{{ file.thumbnail }}" alt="{{ file.name_ }}">
            <div ng-hide="file.thumbnail" data-preview="file"></div>
            <div ng-hide="file.id" class="progress progress-warning progress-striped active"
                 data-ng-class="{pending: 'in'}[file.$state()]"
                 data-progress="file.$progress()">
                <div class="bar" ng-style="{width: num + '%'}"></div>
            </div>
        </a>

        <div ng-show="editing">
            <form class="instance-form file-form clearfix" method="post"
                  ng-submit="saveFile()" name="fileForm">
                <fieldset class="text">
                    <div class="controls">
                        <input type="text" ng-model="file.name_" placeholder="Name">
                    </div>
                    <div class="controls">
                        <textarea ng-model="file.description" placeholder="Description"></textarea>
                    </div>

                    <div class="controls clearfix">
                        <a href class="btn btn-link pull-left" ng-click="removeFile()">Remove File</a>
                        <button ng-show="fileForm.$dirty" type="submit" class="btn btn-link pull-right">Save</button>
                    </div>
                </fieldset>
            </form>

            <fieldset class="meta">
                <a class="full-image-link" ng-href="{{ file.url }}" target="_blank">Open full image</a>
                <div class="controls radio">
                    <label>
                        <input type="radio" ng-change="$parent.setCover()"
                               ng-model="$parent.album.cover.id" value="{{ file.id }}">
                        Set as album cover
                    </label>
                </div>

                <ul class="info">
                    <li class="size">Size: {{ file.size | formatFileSize }}</li>
                    <li class="uploaded">Uploaded: {{ file.created_at | date }}</li>
                    <li><a href ng-click="sendToTinyMCE()">Past into editor</a></li>
                </ul>
            </fieldset>
        </div>
    </script>
{% endverbatim %}
